
*{
    font-family:Georgia;
    text-decoration:none;
    list-style: none;
    margin: 0%;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color:black; 
    
}
.logo{
    color:wheat;
    font-size :25px;
    line-height: 70px;
    margin-left: 50px;
    font-family:Lucida Handwriting;
}
.navbar ul{
    float: right;
    margin-right: 50px;
}
.navbar ul li{
    display: inline-block;
    margin: 0 30px;
    line-height: 70px;
}
.navbar ul li a{
    color:wheat;
    background-color:transparent;
    font-size: large;
    padding:8px;
}
.navbar ul li a:hover{
    border: 1px solid wheat;
    box-shadow: 0 0 8px;
    border-radius:30px;
}
.name{
    color:wheat;
    font-size:xx-large;
    margin-left:200px;
    padding: 9px;
    line-height:70px;
}
.image{
    position:absolute;
    height:1000px;
    width: 100%;
    background-color: wheat;
    background-image:url(../images/l-intro-1658850950.jpg);
    filter: brightness(60%); 
    background-attachment:scroll;
    background-size:cover;
    background-repeat:no-repeat;
}
.p{
    position: absolute;
    font-size:45px;
    padding: 10px;
    color:black;
    width:auto;
    height: auto;
    margin-top:400px;
    margin-left:500px;
    background-color: bisque;
    border-radius:30px;
}
.p1{
   position: absolute;
    font-size:30px;
    padding: 10px;
    color:black;
    width:auto;
    height: auto;
    margin-top:490px;
    margin-left:900px;
    background-color: bisque;
    border-radius:30px;
}
.bottompart{
    position: absolute;
    height:auto;
    width:auto;
    margin-top:630px;
    margin-left: 50px;
}
.h{
    position: absolute;
    margin-top:60px;
    margin-left:50px;
    font-size: 30px;
    color:black;
    background-color:wheat;
    width:250px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.circle1{
    position: absolute;
    border: 2px black;
    box-shadow: 0 0 10px black;
    margin-top:150px;
    width: 200px;
    height:200px;
    border-radius:50px;
    margin-left: 50px;
    background-color: wheat;
    background-image: url(../images/Assorted-Glazed-Donuts.png);
    background-size: cover

}
.scircle1{
    position: absolute;
    width:auto;
    height:20px;
    border-radius:5%;
    padding: 2px;
    border:black 1px;
    background-color:burlywood;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.itemdescription1{
    position: absolute;
    font-size: small;
    width: auto;
    height:19px;
    border-radius: 5%;
    padding: 1px;
    border:black 1px;
    color: black;
    margin-top:30px;
    background-color:wheat;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
}

.circle2{
    position: absolute;
    border: 2px black;
    box-shadow: 0 0 10px black;
    margin-top:150px;
    width: 200px;
    height:200px;
    border-radius: 50px;
    margin-left: 370px;
    background-color: wheat;
    background-image: url(../images/cupcake.jpg);
    background-size: cover
}
.scircle2{
    position: absolute;
    width:auto;
    height:20px;
    border-radius:5%;
    padding: 2px;
    border:black 1px;
    background-color:burlywood;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.itemdescription2{
    position: absolute;
    font-size: small;
    width: auto;
    height:19px;
    border-radius: 5%;
    padding: 1px;
    border:black 1px;
    color: black;
    margin-top:30px;
    background-color:wheat;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
}

.circle3{
    position: absolute;
    border: 2px black;
    box-shadow: 0 0 10px black;
    margin-top:150px;
    width: 200px;
    height:200px;
    border-radius: 50px;
    margin-left: 690px;
    background-color: wheat;
    background-image: url(../images/HIGHRESChocolateOrangeCake01-Square-green_400x400.webp);
    background-size: cover;
}

.scircle3{
    position: absolute;
    width:auto;
    height:20px;
    border-radius:5%;
    padding: 2px;
    border:black 1px;
    background-color:burlywood;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.itemdescription3{
    position: absolute;
    font-size: small;
    width: auto;
    height:19px;
    border-radius: 5%;
    padding: 1px;
    border:black 1px;
    color: black;
    margin-top:30px;
    background-color:wheat;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
}
.circle4{
    position: absolute;
    border: 2px black;
    box-shadow: 0 0 10px black;
    margin-top:150px;
    width: 200px;
    height:200px;
    border-radius: 50px;
    margin-left:1000px;
    background-color: wheat;
    background-image: url(../images/Raspberry-Jello-Cake-4-500x375.webp);
    background-size: cover;
}

.scircle4{
    position: absolute;
    width:auto;
    height:20px;
    border-radius:5%;
    padding: 2px;
    border:black 1px;
    background-color:burlywood;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.itemdescription4{
    position: absolute;
    font-size: small;
    width: auto;
    height:19px;
    border-radius: 5%;
    padding: 1px;
    border:black 1px;
    color: black;
    margin-top:30px;
    background-color:wheat;
    box-shadow: 0 0 15px black;
    text-align: center;
    justify-content: center;
}